body 
{
	font-family: "Arial";
}

table 
{
	margin: 50px;
}

table, tr, td, th 
{
	border: 1px solid black;
	border-collapse: collapse;
}

td, th 
{
	padding: 10px;
}

th 
{
	text-align: left;
}

h1 {
	margin-left: 50px;
}
.highlight 
{
	background-color: black;
	color: white;
}